head {
  background-color: #d7b57d;
}

#title {
  color: #5D100A;
  text-align: center;
}

body {
  background-color: #d7b57d;
}

main{
    margin-left: 20px;
    margin-right: 20px;
}
.menu ul{
    list-style-type: none;
    background-color: #a58148;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.menu a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.menu a:hover{
    background-color: #5D100A;
}
.menu li{
    float: left;
}